* {
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #3A3A3A;
    --secondary-color: #787885;
    --primary-font-size: 1.6rem;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;

}

/* shared or primary style */

/* Poppins font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Poppins:wght@300;400;500;600;700;800&family=Work+Sans:wght@600;700&display=swap');

/* shared font size and color */
.pages li  a, .banner-description {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}


/* primary text color */
.primary-text {
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    font-weight: 700;
}
/* primary button */
.primary-btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    border: none;
}



/* header section style */

/* navbar section style */
header {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
}

.pages>ul {
    display: flex;
    gap: 1.8rem;
    /* justify-content: space-around; */
    align-items: center;

}

.pages li {
    list-style: none;
}

.pages li a {
    text-decoration: none;
}

/* banner section style */
.banner{
    margin-top: 100px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 100px;
}

.banner-title {
    color: var(--primary-color);
    font-size: 3.3rem;
    font-weight: 700;
}
.banner-description{
    margin-top: 16px;
    margin-bottom: 16px;
}
.btn{
    border-radius: 41px;
}
.banner-img{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
}
.banner-img img{
    width: 440px;
    height: 414px;
}



/* responsive media query */

/* small dive or mobile */
@media screen and (max-width: 576px){
    
}